<h2> Contribute to Topic: <%= @topic.title %></h2>

<div class="row">
    <div class="col-md-10">
        <%= simple_form_for @topic, :html => {:multipart =>true} do |f| %>

        <%= f.input :body, input_html: { :cols => 100, :rows => 15 }, label: "Apply your edits to this topic" %><br>

        <%= f.button :submit, "Update Topic" %>
        <br><br>
        <% end %>
    </div>
</div>
